{% extends 'base.html' %}
{% load omfilters %}

{% block content %}

{% if cart %}

    <div class="row mt-3">
        <div class="col">
            <h3>Shopping Cart</h3>
            <p class="lead">The products, quantities and prices that you chose.</p>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th class="d-none d-lg-block">Image</th>
                        <th>Product</th>
                        <th>Variation</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>

                    {% for cart_element in cart.values %}
                        <tr>
                            <td class="d-none d-lg-block">
                                <img class="cart-img" src="{{ cart_element.image_url }}">
                            </td>
                            <td>
                                <a href="{% url 'product:detail' cart_element.slug %}">
                                    {{ cart_element.product_name }}
                                </a>
                                <a class="ml-3" href="{% url 'product:removefromcart' %}?vid={{ cart_element.variation_pk }}">
                                    <i class="fas fa-times-circle text-danger" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td>{{ cart_element.variation_name }}</td>
                            <td>{{ cart_element.quantity }} x
                                {% if cart_element.unit_promotional_price %}
                                    {{ cart_element.unit_promotional_price }}
                                {% else %}
                                    {{ cart_element.unit_price }}
                                {% endif %}
                            </td>
                            {% if cart_element.quantitative_promotional_price %}
                                <td>{{ cart_element.quantitative_promotional_price | price_format }}</td>
                            {% else %}
                                <td>{{ cart_element.quantitative_price | price_format }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg">
            <p class='lead'>Total in cart</p>
            <div class='table-responsive'>
                <table class="table">
                    <tr>
                        <td class="font-weight-bold">Total</td>
                        <td>{{ cart | cart_total_value | price_format }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg mt-auto">
            <a class="btn btn-lg btn-block btn-primary" href="#">
                Finish the purchase
            </a>
        </div>
    </div>

{% else %}
    <div class="row mt-3">
        <div class="col">
            <h3>Empty Cart</h3>
            <p class="lead">There're no products in your cart</p>
        </div>
    </div>

{% endif %}

{% endblock content %}